html{
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  margin:0;
  padding:0;
  padding-top: 40px;
  /*background-color: #ecf0f1 !important;*/
  font-family: Verdana,Geneva,sans-serif !important;
}
body{
  background-color: #f7f9f7;
  /*background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23eef0d6' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/
  /*background-image: url("data:image/svg+xml,<svg width='42' height='44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg viewBox='0 0 42 44' preserveAspectRatio='xMidYMid meet'> <g transform='translate(0.000000,600.000000) scale(0.100000,-0.100000)'fill='#000000' stroke='none'></g></svg>");*/
  background-image: url("../assets/bg.jpg");
}
#entry{
  padding-bottom: 2em;
}

.inline-block-div{
    display: inline-block;
}

.clear-both{
  clear: both;
}

.checkbox-div{
  padding: 7px 5px 0 0;
  float: left;
}

.more-icon{
  float: right;
  color: #9e9e9e;
  font-size: 12px;
}

.more-icon:hover{
  color: #009688;
}

.todo-brand{
  padding-left: 6px;
}

img.logo{
  margin-left: 43%;
}

.btn-success, .btn-danger, .btn-warning {
  background: #009688 !important;
  border-color: #009688 !important;
}

.gradient-text {
  background: -webkit-linear-gradient(#5dd38c, #009688);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg:hover {
  background: #009688;
  background: -moz-linear-gradient(top, #5dd38c 0%, #009688 69%, #009688 84%, #009688 100%) !important;
  background: -webkit-linear-gradient(top, #5dd38c 0%,#009688 69%,#009688 84%,#009688 100%) !important;
  background: linear-gradient(to bottom, #5dd38c 0%,#009688 69%,#009688 84%,#009688 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5dd38c', endColorstr='#009688',GradientType=0 );
}

.gradient-bg {
  background: #009688;
  background: -moz-linear-gradient(top, #6bba70 0%, #009688 49%) !important;
  background: -webkit-linear-gradient(top, #6bba70 0%,#009688 49%) !important;
  background: linear-gradient(to bottom, #6bba70 0%,#009688 49%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#009688',GradientType=0 );
}

.btn-default {
  color: #009688 !important;
  background: #ecf0f1 !important;
}

.btn-default:hover {
  background: #fdfdfd !important;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin-heading{
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-family: Roboto;
  color: #009688 !important;
}

.form-signin input {
    margin-bottom: 10px;
}

.form-signin .btn-block {
    font-size: 16px;
}


.login-link{
  margin-top: 10px;
  font-size: 13px;
}

.signup-link{
  margin-top: 10px;
  text-align: center;
}

.signup-link a, .post-link, .login-link a {
  color: #066158 !important;
}

.post-link.btn {
  color: #fff !important;
}


.page-footer{
  position:absolute;
  height: 3em;
  padding: 3px;
  text-align: center;
  bottom:0;
  left: 0;
  right: 0;
  width:100%;
  color: #3a2929;
  background: #f5f5f5;
  border-top: 1px solid #e0e0e0;
}

.heart-symbol{
  color: #F44336;
}

.copyright-text{
  font-size: 10px;
  padding: 2px;
}

.social-media-links a {
  opacity: 0.6;
  margin: 0 8px;
  height: 20px;
  text-decoration: none;
}

.social-media-links a:visited,
.social-media-links a:active,
.social-media-links a:hover,
.social-media-links a:focus {
    text-decoration: none;
}

.social-media-links a:hover {
  opacity: 1;
}

.social-media-links a img {
  height: auto;
  width: 17px;
}

.gt-icon{
  width: 18px !important;
}



/*Spinner Code*/

.loader-wrapper{
  position: absolute;
  background: rgba(255,255,255,0.5);
  text-align: center;
  z-index: 9999;
  height: 100%;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.lds-rolling{
  position: relative;
  margin: 16rem auto;
  width: 200px !important;
  height: 100px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);

}
@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.lds-rolling {
  position: relative;
}
.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 108px;
  height: 108px;
  border: 8px solid #009688;
  border-top-color: transparent;
  border-radius: 50%;
}
.lds-rolling div {
  -webkit-animation: lds-rolling 1.1s linear infinite;
  animation: lds-rolling 1.1s linear infinite;
  top: 180%;
  left: 100px;
}
.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lds-rolling {
  width: 120px !important;
  height: 120px !important;
  -webkit-transform: translate(-60px, -60px) scale(0.6) translate(60px, 60px);
  transform: translate(-60px, -60px) scale(0.6) translate(60px, 60px);
}

.multi-delete-button{
  
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #009688; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 10px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 10; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 10px; /* 30px from the bottom */
}

/*@font-face {
    font-family: foreverBrush;
    src: url(font.otf);
}*/

.my-5{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-6{
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.nav-logo{
  padding: 0 4px;
  width: 24px;
  height: 28px;
  display: inline-block !important;
}

.navbar {
  background-color: #f5f5f5 !important;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1),0 0px 1px 0 rgba(0,0,0,0.19) !important;
}
.navbar-brand{
  font-size: 28px !important;
  font-weight: bold;
  font-family: Roboto;
  color: #009688 !important;
}

.navbar-brand.active{
  text-decoration: underline;
}
.navbar-btn-wrapper {
    padding: 10px 15px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: -15px;
}

.lead{
  font-size: 18px !important;
}

.add-note-fab{
    bottom: 6rem;
    position: fixed;
    right: 24px;
    z-index: 1000;
}

.add-note-fab .btn{
  margin: 0;
  border-radius: 50%;
  padding: 9px 12px 8px 13px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  min-width: 50px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 1px 2px 0 rgba(0,0,0,.24);
}


.form-post {
    max-width: 800px;
    padding: 15px;
    margin: 0 auto;
}

.form-post input {
    margin-bottom: 10px;
}

.post-link{
  margin: 0px 20px 0 0;
  text-align: center;
}

.post-link.btn {
  color: #fff !important;
}

.post-details-page .post-link{
  margin-top: 10px;
}

.error{
  color: #dc4949;
}


.post-wrapper{
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.1),0 5px 13px 0 rgba(0,0,0,0.19) !important;
  background: #faffc5;
  height: auto;
  min-height: 200px !important;
  padding: 5px 20px 20px;
  margin: 20px 20px;
  white-space: pre-line;
  word-break: break-word;
}

.post-card{
  width: 150px;
  height: 134px;
  border-radius: 2px;
  background: #fafafa;
  text-overflow: ellipsis;
  vertical-align: top;
  margin: 0 0 20px 15px;
  padding: 10px 18px;
  display: inline-block;
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.1),0 5px 13px 0 rgba(0,0,0,0.19) !important;
}
.post-card:nth-child(n), .post-wrapper-1{
  background: rgba(247, 235, 130, 0.88);
}
.post-card:nth-child(odd){
  background: #f7eb82;
}
.post-card:nth-child(3n+3), .post-wrapper-3{
  background: rgba(255, 185, 185, 0.5);
}
.post-card:nth-child(2n), .post-wrapper-4{
  background: #bbe3e8;
}
.post-card:nth-child(6n), .post-wrapper-5{
  background: #e8f378;
}
.post-card:nth-child(4n), .post-wrapper-2{
  background: #E5DCFB;
}

.post-card-title{
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  font-family: Verdana,Geneva,sans-serif;
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  color: #343435;
  margin: 5px 0;
}

.post-stamp{
  color: #888;
  font-size: 10px;
}


.post-card-stamp{
  margin: 5px 0;
  color: #555;
  font-size: 9px;
  /*font-style: italic;*/
}

.post-card-description{
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-line;
  font-size: 12px;
  line-height: 24px;
  height: 5rem;
  padding: 0;
  color: #343435;
  cursor: pointer;
}


.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 16px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fefefe;
  border: 1px solid #aaa;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #009688;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.post-description{
  color: #616161;
  line-height: 1.4;
  text-align: justify;
  word-break: break-all;
  white-space: pre-line;
}

.post-divider{
  border: 0;
  height: 0;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-wrapper{
  margin-top: 20px;
}

.btn-wrapper .btn{
  width: auto;
  padding: 5px 10px;
  margin: 0 10px;
}

.btn-wrapper .btn:first-child{
  margin: 0 10px 0 0;
}

.description-input{
  min-height: 150px;
}

.post-wrapper .btn{
  margin: 0 10px;
}

.post-details-page .btn-warning{
  margin: 0 10px 0 5px;
}

.no-posts{
  text-align: center;
  margin-top: 12rem; 
}

.pageNotFound{
  display: flex;
  /*flex-grow: 2;*/
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: #009688;
}

.pageNotFoundTitle{
  font-size: 40px;
  text-shadow: 1px 1px 0px rgba(124, 124, 124, 0.55);
}

.pageNotFound .btn{
  color: #009688 !important;
  background: #fafafa;
  margin-top: 20px;
}



@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 10px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10px; opacity: 1;}
}


@media screen and (max-device-width: 319px) {
  body {
    padding-top: 10px;
  }


  .navbar-brand{
    font-size: 20px !important;
  }

  .post-card-wrapper{
    text-align: center;
    margin: 20px 20px;
  }
 
  .post-card{
    width: 120px;
    margin: 0 10px 10px 10px;
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.1),0 4px 11px 0px rgba(0,0,0,0.19) !important;
  }
  .post-list-page .btn{
    font-size: 12px;
  }
  .add-note-fab{
    bottom: 5rem;
    right: 20px;
  }
  .add-note-fab .btn{
    padding: 10px 12px 8px 13px;
    font-size: 16px;
    width: 40px;
    height: 45px;
    min-width: 45px;
  }

  .multi-delete-button{ 
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
    min-width: 100px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #009688; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 5px; /* Rounded borders */
    padding: 10px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 10px; /* 30px from the bottom */
  }
}



@media screen and (min-device-width: 320px ) and (max-device-width: 480px) {
  body {
    padding-top: 10px;
  }

  .navbar-brand{
    font-size: 20px !important;
    padding: 15px 5px;
  }
  .navbar-brand.todo-brand{
    padding: 15px 5px 0 0;
  }
  
  .multi-delete-button{    
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
    min-width: 200px;
    margin-left: -99px;
    background-color: #009688;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 5px;
  }

  @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;} 
      to {bottom: 5px; opacity: 1;}
  }

  @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 5px; opacity: 1;}
  }

  .post-card-wrapper{
    text-align: center;
    margin: 20px 20px;
  }
  .list-wrapper{
   text-align: center;
    margin: 30px 10px 0; 
  }
  .add-note-fab{
    bottom: 5rem;
    right: 20px;
  }
  .add-note-fab .btn{
    padding: 11px 12px 8px 14px;
    font-size: 18px;
    width: 50px;
    height: 50px;
    min-width: 45px;
  }
  .post-card{
    padding: 0 10px;
    width: 130px;
    margin: 0 10px 10px 10px;
    height: 130px;
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.1),0 4px 11px 0px rgba(0,0,0,0.19) !important;
  }
  .post-list-page .btn{
    font-size: 12px;
  } 
  .post-details-page .btn-warning{
    margin: 0 10px 0 5px;
  }
  .more-icon{
    float: right;
    color: #009688;
    font-size: 12px;
  }
}

.todo-component-wrapper{
  margin: 0 auto;
}

.todo-component{
  border: 1px solid #e4e4e4;
  margin-bottom: 20px;
}

.todo-component-header{
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.todo-component-header.urgent{
  background: #f78c6a;
}

.todo-component-header.main{
  background: #cddc39;
}

.todo-component-header.others{
  background: #58c1f1;
}

.todo-component-header h3{
  margin: 0;
}

.todo-component .todo-task-list{
  max-height: 425px;
  overflow: auto;
  display: block;
  padding-left: 0px;
  margin-bottom: 0;
}

.todo-component .todo-task-list li{
  margin: 8px 0;
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
}

.todo-component .todo-task-list li.urgent{
  background: #f3cec2;
}

.todo-component .todo-task-list li.main{
  background: #edf1c6;
}

.todo-component .todo-task-list li.others{
  background: #d4edf1;
}

.todo-component .todo-task-list li:last-child{
  margin: 8px 0 0 0;
}

.todo-task-component{
}

.todo-task-component .checkbox-div{
  padding: 0px 5px 0 0;
}

.add-task-form{
  padding: 5px 0px;
}

